In [ ]:
from src import _checks as ck
from utils import _preprocessing as pp
import pandas as pd

filename_data = 'MM3286 - Uber France Mobility - New IMC Consideration Campaign_152008.xlsx'
file_path = 'data/raw/' + filename_data

data = pd.read_excel(file_path)
data.columns = data.columns.str.strip()

data = pp.before_after(data,func=lambda data: data.loc[data['tConditi'] == 1],title=f"Dropping unqualified respondents:")

# this will show you the amount of respondents
print(f"{filename_data} \nRows(Amount of qualified respondents): {data.shape[0]} \nColumns: {data.shape[1]}")


data = ck.id_check(data)

print(data)

Dropping unqualified respondents:
 - N (before): 1503
 - N (after): 1503
 - N (diff): 0

MM3286 - Uber France Mobility - New IMC Consideration Campaign_152008.xlsx
Rows(Amount of qualified respondents): 1503
Columns: 158
Percentage of speeders is 4.26%, which is over the limit of 3%. Marking only most extreme speeders.
Received: uber eats, did you mean: uber eat?
Received: tissée, did you mean: tisseo?
Received: réseaux mistral, did you mean: réseau mistral?
Received: ubereat, did you mean: uber eat?
Received: tramways, did you mean: tramway?
Received: citroene, did you mean: citroen?
Received: volgswagen, did you mean: volkswagen?
Received: toyata, did you mean: toyota?
Received: ubet, did you mean: ubert?
Received: bus blablacar, did you mean: blablacar?
Received: trotinnette, did you mean: trottinette?
Received: huber, did you mean: uber?
Received: blabacar, did you mean: blablacar?
Received: mtag, did you mean: tag?
Received: flexi bus, did you mean: flexibus?
Received: aucun, did you mean: aucune?
Received: mta, did you mean: mtag?
Received: réseau stan, did you mean: réseau mistral?
Received: sankeo, did you mean: sankéo?
Received: flibus, did you mean: flixbus?
Received: tram2, did you mean: tram?
Received: uber reat, did you mean: uber eat?
Received: ar france, did you mean: air france?
Received: bla-bla car, did you mean: blablacar?
Received: tan, did you mean: stan?
Received: heecth, did you mean: heetch?
Received: keolys, did you mean: keolis?
Received: oui go, did you mean: ouigo?
Received: ubereats, did you mean: uber eats?
Received: bon lt, did you mean: bolt?
Received: blablcar, did you mean: blablacar?
Received: bla bla car, did you mean: bla-bla car?
Received: heech, did you mean: heetch?
Received: renautl, did you mean: renault?
Received: trotinette, did you mean: trottinette?
Received: ubber, did you mean: uber?
Received: teor, did you mean: ter?
Received: bolte, did you mean: bolt?
Received: flee bus, did you mean: flexi bus?
Received: blanlacar, did you mean: blablacar?
Received: bot, did you mean: bolt?
Received: taxis g7, did you mean: taxi g7?
Received: heatch, did you mean: heetch?
Could not complete attention-check. For this check to work, please include the "TestAttention" question in your project.
Error: "No columns were found using these search terms: starts_with=['test', 'attention']; ends_with=['attention', 'att', 'test']; excluded_endings=['96', '6t', '97']; ignore_case=True"

,RESPID,DLNMID,tOPVOER,tSTART,tEIND,tLanguag,tCountry,tConditi,tCel,tVersie,...,duration_sec,duration_min,upper_outlier,lower_outlier,valid_open_answer,cond_1,cond_2,gibberish,check_straight_liner,score
0,135189339,394510205,13-09-2024 16:24:37,13-09-2024 16:24:37,13-09-2024 16:26:24,4,234,1,NaN,1,...,107.0,1,False,True,False,False,False,True,True,4.5
1,135242577,394574775,16-09-2024 16:00:10,16-09-2024 16:00:11,16-09-2024 16:10:25,4,234,1,NaN,1,...,614.0,10,False,False,True,True,True,NaN,True,0.0
2,135242579,394574779,16-09-2024 16:00:15,16-09-2024 16:00:16,16-09-2024 17:21:22,4,234,1,NaN,1,...,4866.0,81,True,False,True,True,True,NaN,True,0.0
3,135242580,394574781,16-09-2024 16:00:19,16-09-2024 16:00:20,16-09-2024 16:04:57,4,234,1,NaN,1,...,277.0,4,False,False,True,True,True,NaN,True,0.0
4,135242583,394574789,16-09-2024 16:00:53,16-09-2024 16:00:54,16-09-2024 16:16:44,4,234,1,NaN,1,...,950.0,15,False,False,True,True,True,NaN,True,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,137149792,400439024,19-12-2024 01:22:15,19-12-2024 01:22:17,19-12-2024 01:28:54,4,234,1,NaN,1,...,397.0,6,False,False,False,False,False,True,True,2.5
1499,137149798,400439034,19-12-2024 01:55:04,19-12-2024 01:55:06,19-12-2024 02:08:00,4,234,1,NaN,1,...,774.0,12,False,False,True,True,True,NaN,True,0.0
1500,137149800,400439038,19-12-2024 02:01:34,19-12-2024 02:01:37,19-12-2024 02:08:16,4,234,1,NaN,1,...,399.0,6,False,False,True,True,True,NaN,True,0.0
1501,137151719,400441552,19-12-2024 09:59:20,19-12-2024 09:59:22,19-12-2024 10:03:48,4,234,1,NaN,1,...,266.0,4,False,False,True,True,False,NaN,True,0.0
1502,137151918,400442007,19-12-2024 11:02:24,19-12-2024 11:02:26,19-12-2024 11:08:05,4,234,1,NaN,1,...,339.0,5,False,False,True,True,False,NaN,True,0.0